<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. 备案号：<a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备XXXXX号</a>, Built with <a href="https://ghost.org/" target="_blank">Ghost</a> and <a href="https://github.com/Kikobeats/uno-zen" target="_blank">Uno Zen</a> theme.
  </span>
</footer>
